<?xml version="1.0"?>
<!--
/**
 * Codilar_Afbt extension
 * NOTICE OF LICENSE
 *
 *
 * @category  Codilar
 * @package   Codilar_Afbt
 * @copyright Copyright (c) 2019
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\Quote">
        <plugin name="product_add_to_cart_before" type="Codilar\Afbt\Plugins\Quote" sortOrder="1" />
    </type>
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="from_afbt_quote_item_to_order_item" type="Codilar\Afbt\Plugins\QuoteToOrderItem"/>
    </type>
    <preference for="Codilar\Afbt\Api\AfbtIndexRepositoryInterface" type="Codilar\Afbt\Model\AfbtIndexRepository" />
    <preference for="Codilar\Afbt\Api\Data\AfbtIndexInterface" type="Codilar\Afbt\Model\AfbtIndex" />
</config>
