<?xml version="1.0"?>
<!--
/**
 * Codilar_Irp extension
 * NOTICE OF LICENSE
 *
 *
 * @category  Codilar
 * @package   Codilar_Afbt
 * @copyright Copyright (c) 2019
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="irp" frontName="irp">
            <module name="Codilar_Irp"/>
        </route>
    </router>
</config>
