<?xml version="1.0" ?>
<!--
/**
 * Codilar_Irp extension
 * NOTICE OF LICENSE
 *
 *
 * @category  Codilar
 * @package   Codilar_Afbt
 * @copyright Copyright (c) 2019
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <codilar_irp>
            <general>
                <enabled>1</enabled>
                <no_of_products>10</no_of_products>
            </general>
        </codilar_irp>
    </default>
</config>