<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Store\Model\StoreManager">
        <plugin name="store_change_exception_handling" type="Codilar\Core\Model\Plugins\StoreManager" sortOrder="1" />
    </type>
</config>