<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="codilar" translate="label" sortOrder="100" class="codilar-tab">
            <label>Codilar Settings</label>
        </tab>
        <section id="core_module" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <resource>Codilar_Core::codilar</resource>
            <class>separator-top</class>
            <label>Core</label>
            <tab>codilar</tab>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Module Information</label>
                <field id="version" translate="label" type="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module version</label>
                    <backend_model>Codilar\Core\Model\Config\Version</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
